.signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:	rgb(24,24,24);
}

.signin-container h2 {
    margin-bottom: 20px;
}

.signin-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.signin-container input {
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.signin-container button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.google-signin-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.google-signin-button img {
    width: 20px;
    height: 20px;
}